<!-- Particles.js background -->
<div id="particles-js" style="
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: -1;
  background: transparent;
"></div>

<style>
  #particles-js canvas {
    -webkit-mask-image: linear-gradient(
      to right,
      black 0px,
      black 180px,
      transparent 220px,
      transparent calc(100% - 220px),
      black calc(100% - 180px),
      black 100%
    );
    mask-image: linear-gradient(
      to right,
      black 0px,
      black 180px,
      transparent 220px,
      transparent calc(100% - 220px),
      black calc(100% - 180px),
      black 100%
    );
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
  particlesJS.load('particles-js', '/assets/js/particles-config.json', function() {
    console.log('particles.js loaded');
  });
</script>
